<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation batch="false" />
    <customErrors mode="off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="keystone.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FilanthropyStar">
          <match url="/*" />
          <action type="Rewrite" url="keystone.js" />
        </rule>
       <!--<rule name="ForceAdminSSL" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(/keystone.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://filanthropystarkeystone.azurewebsites.net/{R:1}" redirectType="Permanent"/>       
        </rule>-->
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^filanthropystar.org$" />
          </conditions>
          <action type="Redirect" url="http://www.filanthropystar.org/{R:1}"
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>