//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading About
			p We organise parties to raise money for social projects
			ul.list-inline
				li: a(href='/about') More about Filanthropy*
				li: a(href='mailto:filanthropystar@gmail.com').contact-link.entypo.entypo-mail
				li: a(href='https://www.facebook.com/filanthropystar').contact-link.entypo-social.entypo-facebook
				li: a(href='https://twitter.com/filanthropystar').contact-link.entypo-social.entypo-twitter

		.col-sm-8
			.row
				
			
	.row.footer-copyright
		p Copyright &copy; 2014 Filanthropy*. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
		